body {
    margin: 0;
    text-align: center;
    background: #f7abab;

    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
}

#avatar {
    width: 150px;
    border: 1px solid black;
    border-radius: 50%;

}