body {
    margin: 0;
    text-align: center;
    /* background: #f7abab; */
    background: #f7abab;
    color: #ffffff;

    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    /* removed the following from body and adding it to #header */
    /* display: flex;
    flex-direction: column;
    align-items: center;  */
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 2px black;
}

#bff-image {
    width: 150px;
    /* border: 1px solid #a2d2ff; */
    border: 5px solid #a2d2ff;
    border-radius: 50%;

}

/* replaced h2 and h4 with their id selectors */
/* separating out these two h2 and h4 */
#bday-age {
    background-color: #a2d2ff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 15px 0;
}

#bday-date {
    margin: 0;
    background-color: #a2d2ff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* ================================================================================ */
.gift-img {
    /* width:400px;
    border: 6px solid white;
    border-radius: 20px; */
    background-image: url("images/gift-cover.jpg");
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 20px auto;
}

.gift-section {
    margin-top: 50px;

}

.gift-title {
    margin-bottom: 15px;
}

/* adding hover effect */

#gift-img-happy:hover {
    background-image: url("images/happy.gif");

}

#gift-img-hot:hover{
    background-image: url("images/hot.gif");
}
#gift-img-genius:hover{
    background-image: url("images/genius.gif");
}
#gift-img-badass:hover{
    background-image: url("images/badass.gif");
}
#gift-img-cheers{
    height: 200px;
}
#gift-img-cheers:hover{
    background-image:url("images/cheers.gif");
}

#footer{
    margin: 40px auto 20px;
    font-style: italic;
    width: 400px;
}
a{
    text-decoration: none;
}