body {
    margin: 0;
    text-align: center;
    /* background: #f7abab; */
    /* background: #f7abab; */
    background: linear-gradient(#f7abab,#a2d2ff);
    color: #ffffff;

    font-family: "Happy Monkey", system-ui;
    font-weight: 400;
    font-style: normal;
    /* removed the following from body and adding it to #header */
    /* display: flex;
    flex-direction: column;
    align-items: center;  */
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1,
h2,
h3,
h4,
p {
    text-shadow: 0px 0px 2px black;
}

#bff-image {
    width: 150px;
    /* border: 1px solid #a2d2ff; */
    border: 5px solid white;
    border-radius: 50%;
    background-color: #a2d2ff;

}

/* replaced h2 and h4 with their id selectors */
/* separating out these two h2 and h4 */
#bday-age {
    background-color: #a2d2ff;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 10px 0 15px 0;
}

#bday-date {
    margin: 0;
    background-color: #a2d2ff;
    padding: 5px 10px;
    border-radius: 5px;
}

/* ================================================================================ */
.gift-img {
    /* width:400px;
    border: 6px solid white;
    border-radius: 20px; */
    background-image: url("images/gift-cover.jpg");
    /* background-image: url("images/gift-image-copy.jpg"); */
    background-size: cover;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    margin: 20px auto;
}

.gift-section {
    margin-top: 50px;

}

.gift-title {
    margin-bottom: 15px;
}

/* adding hover effect */

#gift-img-happy:hover {
    /* background-image: url("images/happy.gif"); */
    background-image: url("https://media4.giphy.com/media/v1.Y2lkPTc5MGI3NjExbTQyNDRudnZyZTkxemFidmE2eTY2eGdldGNpZGVrbmJ0a2NodmdtdCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/11sBLVxNs7v6WA/giphy.gif");

}

#gift-img-hot:hover{
    /* background-image: url("images/hot.gif"); */
    background-image: url("https://media.giphy.com/media/v1.Y2lkPWVjZjA1ZTQ3Nm5qMjl1dGpnMHE1bmExZjZsNW9yNmI4ODlpY3Z2dnpicXdpeTR3cSZlcD12MV9naWZzX3JlbGF0ZWQmY3Q9Zw/FlWgXEtj5aM5G/giphy.gif");
}
#gift-img-genius:hover{
    /* background-image: url("images/genius.gif"); */
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExamJiN3l1amRuZWdrODI0azk1Mjl5OTdsOGN0ZTd0dm51d2phMXhrMSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/IVCPUwOSVnIMo/giphy.gif");
}
#gift-img-badass:hover{
    /* background-image: url("images/badass.gif"); */
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExeDIwdmJrMmQ5aHJrYjRkMDA2cmdlNzUyZnp4bGpoZGppaGxocXZmYSZlcD12MV9naWZzX3NlYXJjaCZjdD1n/mVJ5xyiYkC3Vm/giphy.gif");
}
#gift-img-cheers{
    height: 200px;
}
#gift-img-cheers:hover{
    /* background-image:url("images/cheers.gif"); */
    background-image:url("https://c.tenor.com/R2H5w83ycRUAAAAd/tenor.gif");
}

#footer{
    margin: 40px auto 20px;
    font-style: italic;
    width: 400px;
}
a{
    text-decoration: none;
}