.container{
    border: 8px solid #016a26;
    height: 260px;
    display: flex;
    /* challnege 1 */
    /* justify-content: start;
    align-items: end; */

    /* challenge 2 */
    /* justify-content: center;
    align-items: center; */

    /* challene 3 */
    justify-content: space-around;
    align-items: start;
}

/* note: align item default value is stretch and if the height is not given then, each element will stretch out across y axis */
.item{
    height: 50px;
    width: 50px; 
    margin: 2px;
    padding: 10px;
    font-size: 50px;
    border: 2px solid black;
    background: linear-gradient(#14463d, #016a26);
    
}