body{
    background: rgb(133, 15, 15);
    color:white;
    text-align: center;
    letter-spacing: 4px;
    font-family: sans-serif;
}
h1{
    font-size: 80px;
    /* text-shadow: x y blur color */
    /* text-shadow: -6px 6px 10px black; */

    /* text-shadow: 5px -5px 5px black; */
    text-shadow: 0px 0px 5px black;
}