body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

#input-el{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}

#input-btn{
    background-color: #5f9341;
    color: white;
    padding:10px 20px;
    border: none;
    font-weight: bold;

}