body{
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    /* adding min width */
    min-width: 400px;
}

#input-el{
    width: 100%;
    margin-bottom: 5px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #5f9341;
}
/* replacing input-btn with button */
button{
    background-color: #5f9341;
    color: white;
    padding:10px 20px;
    border: 1px solid #5f9341;
    font-weight: bold;

}
#delete-btn{
    color: #5f9341;
    background-color: white;
}
/* STYLE THE LIST ACCORDING TO THE DESIGN */
ul {
  text-decoration: none; 
  list-style-type: none;
  padding-left:0;
  margin-top:20px; 
}

li {
    margin-top: 5px;
}

a {
    color:#5f9341;
}