body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background: url("images/table.png");
    background-position: cover;
    color: white;
    font-weight: bolder;
}
h1{
    color:goldenrod;
    font-size: 50px;
}

#message-el{
    font-size: 24px;
}