body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
}
h1{
    color:goldenrod;
    font-size: 50px;
}

#message-el{
    font-style: italic;
    font-size: 24px;
}

/* 
3. Style the button according to the provided design
text color - #016f32
width      - 150px
background - goldenrod
 */
 button{
    color: #016f32;
    width: 150px;
    background: goldenrod;
    padding: 5px 10px;
    font-weight: bold;
 }