body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    background-image: url("images/table.png");
    background-size: cover;
    color: white;
    font-weight: bold;
}
h1{
    color:goldenrod;
    font-size: 50px;
}

#message-el{
    font-style: italic;
    font-size: 24px;
}