body{
    background-image: url("train-station.jpg");
    background-position: cover;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    font-weight: 100;
}
h1{
    margin: 10px 0 10px 0;

}

h2{
    font-size: 50px;
    margin:0 0 20px 0;
}

#increment-btn{
    color:white;
    background-color: brown;
    padding: 10px;
    width:200px;
    border-radius: 5px;
    border: none;
    font-size: large;
    font-weight: bold;
    margin-bottom:5px;
}