/* for challenge 8 */
body{
    background: white;
    font-weight: bold;
}

img{
    width: 200px;
}

button{
    background-color: white;
    padding:10px;
    border-radius: 20px;
    font-weight: bold;
    border: 1px solid rgb(31, 26, 26);
}
#error{
    color:red;
    font-weight: 200;
}