.card{
    color:#222222;
    background: rgb(114, 111, 111);
    width:300px;
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;

    /* border: 8px dashed white;
    border-radius: 30px; */
    padding:20px;
    /* part of challenge: padding */
    /* padding-top:100px;
    padding-right: 120px; */

    /* part of challenge: border */
    /* border:5px solid #222222;
    border-radius: 20px; */
}

/* learning about padding */
/* learning about border */