body{
    margin:20px;
}

.main-image{
    width:150px;

}
.card{
    /* removed this border and created a utility class for the blur dotted border */
    /* border: 1px dotted skyblue; */
    padding:20px;
    display: flex;
    justify-content: space-around;

    /* giving width to the card and making it center */
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.blue-dotted-border{
      border: 1px dotted skyblue;
}