/* adding divs, classes to html and adjusting css accordingly */
/* adding margins and making elements to center*/
.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.search-box {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    /* challenge part */
    height: 24px;
    padding: 10px 30px;
    border:1px solid #dfe1e5;
    border-radius: 24px;
}

.container {
    margin-top: 100px;

}