/* adding divs, classes to html and adjusting css accordingly */
/* adding margins and making elements to center*/
.logo-img {
    display: block;
    width: 300px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;

}

.search-box {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;

    /* challenge part */
    line-height: 24px;
    /* changed height to line-height*/
    padding: 10px 30px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
}

.container {
    margin-top: 100px;
    /* adding the text-align center, will make inline elements text to be in center */
    /* text-align: center; */

}

.button-class {
    display: flex;
    justify-content: center;
}

.gsearch-btn {
    /* no need these 3 properties, because are for making single element center */
    /* display: block;
    margin-left: auto;
    margin-right: auto; */
    margin-top: 30px;
    margin-left: 4px;
    margin-right: 4px;
    /* buttons already have width, so not necesary to add width */

    /* challenge part */

    background: #dfe1e5;
    padding: 8px 16px;
    font-size: 14px;
    border: 1px solid #cfd9de;
    border-radius: 5px;
}