.logo-img{
    display: block;
    width: 300px;
}
.search-box{
    display:block;
    width: 400px;
}
.container{
    margin-top: 100px;
}
/* adding divs, classes to html and adjusting css accordingly */