body{
    margin:20px;
    /* add your favourite font web safe fonts */
    /* font-family: Tahoma,Verdana, sans-serif; */
    font-family: Verdana,sans-serif;
}

.main-image{ 
    width:160px;

}
.card{
    /* removed this border and created a utility class for the blur dotted border */
    /* border: 1px dotted skyblue; */
    padding:20px;
    display: flex;
    justify-content: space-around;

    /* giving width to the card and making it center */
    width: 400px;

    /* writing shorthand for margins */
    /* margin-left: auto;
    margin-right: auto; */
    margin: 0 auto;
    text-align: center;

    /* adding the border and color */

    /* border-bottom: 5px #d8cefe solid;*/
    /* background: rgb(178, 201, 219); */
    /* background: #ddebf8;  */
/* add your favourite color pallet */ 
    border-bottom: 7px #f7abab solid;
    background: #FFF3B0; 
    color:#5e97cf;
    /* add the personlized things */
    border-radius: 15px;
    /* box-shadow: offset-x offset-y blur-radius spread-radius color inset; */
     box-shadow: 5px 10px 10px rgba(231, 93, 58, 0.2);
}

.card:hover {
  background-color: #ddebf8;        /* soft pastel blue on hover */
  color: #f58989;                   /* slightly darker blue for contrast */
  border-bottom: 7px solid #f7abab; /* border stays the same */
}

/* removed this blue border from everywhere */
/* .blue-dotted-border{
      border: 1px dotted skyblue;
} */
