body{
    background-color: rgb(31, 26, 26);
}
#container{
    background-color: white;
    width: 300px;
    height: 200px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 21px;
    font-weight: bold;
}