/* for challenge 7: Emoji Fighter */
/* background: linear-gradient(white, gray); */
/* body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: 'Permanent Marker', cursive;
    height: 100vh;
    color: #e98a1d;

}

h1 {
    text-shadow: 0px 3px 0px black;
    line-height: 24px;
    transform: rotate(-9deg);
}

#stage {
    width: 100%;
    height: 60px;
    padding: 30px 0;
    font-size: 50px;
    margin: 0;
}

button {
    margin: 20px;
    cursor: pointer;
    border: 0;
    padding: 8px 16px;
    border-radius: 10px;
    background: #e98a1d;
    color: white;
    font-family: inherit;
    font-size: 20px
} */

/* challenge 8 */
body {
    padding: 40px;
    background: whitesmoke;
    text-align: center;
}

#apple-shelf {
    background: lightcoral;
    border-radius: 10px;
    height: 30px;
    margin: 10px 0;
}

#orange-shelf {
    background: lightsalmon;
    border-radius: 10px;
    height: 30px;
}